name: Playwright Tests

on:
  push:
    branches: ['main']

env:
  BASE_URL: https://conduit-realworld-example-app.fly.dev
  USER_EMAIL: ${{ secrets.USER_EMAIL }}
  USER_PASS: ${{ secrets.USER_PASS }}

  USER_B_EMAIL: ${{ secrets.USER_B_EMAIL }}
  USER_B_PASS: ${{ secrets.USER_B_PASS }}

jobs:
  test:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: DEBUG env
  run: |
    printenv | grep USER

      - name: Run Playwright tests
        run: npm test

      - name: Upload Playwright report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report
